user_name = "your user name"
tenant_name = "your tenant name"
password= "your password"
auth_url = "http://<your ip/ domain>:5000/v2.0"
external_gateway = "the id of your external gateway"
image = "your image name"
pool = "external floating ip pool. default is public"
